includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - var/www/sigge
        - var/lib/sigge/scripts
        - var/lib/sigge/plantillas_reportes
        - otros
    autoload_files:
        - ./MissingPhpDocRule.php

services:
    -
        class: MissingPhpDocRule
        tags: [phpstan.rules.rule]
